@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');


.docs-main {
  text-align: center;
  font-family: 'Roboto',sans-serif;
}

.docs-button {
  background-color: #4CAF50;
  height: 40px;
  width: 200px;
  border: none;
  cursor: pointer;
  font-family: 'Poppins',sans-serif;
}